<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - KarmaFleet Clicker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block meta %}{% endblock %}
  </head>
  <body>
    <div class="container">
        <nav>
            <h1>KarmaFleet Clicker</h1>
            <ul>
              {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
              {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a>
                <li><a href="{{ url_for('auth.login') }}">Log In</a>
              {% endif %}
            </ul>
        </nav>
        <section class="content">
            <header>
              {% block header %}{% endblock %}
            </header>

            {% for message in get_flashed_messages() %}
                <div class="alert alert-primary alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </div>
  </body>
</html>